.navbar-wrapper{
    width: 10%;
    border-right: 3px solid white;
    padding: 0px 10px 0px 10px;
}
.nav-ul{
    list-style-type: none;
    text-align: left;
    padding-left: 7px;
}
.nav-item{
    padding: 5px;
    font-size: 2vw;
}
.sub-nav-item{
    padding: 5px;
    font-size: 1.3vw;
}
.link{
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
    border-bottom: .2vw solid black;
}
.link:hover, .active{
    border-bottom: .2vw solid white;
}
